<!doctype html> 
<html lang="ru"> 
<head> 
    <meta charset="utf-8">
    <title>
        {% block title %}
            Karma
        {% endblock %}
    </title> 
</head> 
<body>
<div>
    <ul>
        <li><a href='/main/'>Main</a></li>
        <li><a href='/about/'>About us</a></li>
        <li><a href='/contacts/'>Contacts</a></li>
        <li><a href='/clothes/'>Clothes</a></li>
        <li><a href='/shoes/'>Shoes</a></li>
        <li><a href='/coats/'>Coats</a></li>
    </ul>

    {% block content %}
        Page is empty
    {% endblock %}

    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>All rights reserved &copy;</p>
    </div>
</div>
</body> 
</html>