{% extends 'base.html' %}
        
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
    

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        </div> 
        <div class="col-12 col-md-6 col-lg-4"> 
            <p>Ab accusamus delectus et expedita id iste, laboriosam optio quam, recusandae sed veritatis voluptate! Accusamusblanditiisdebitisettempora.Abarchitectoasperiores autconsequunturdistinctioearumiustonihil,nonoditquidem solutaveniam.</p>
        </div>
    </div>
{% endblock %}
