<!doctype html> 
<html lang="ru"> 
<head> 
    <meta charset="utf-8"> 
    <link rel="stylesheet"href="/static/css/style.css"> 
    <title>{{ title }}</title> 
</head> 
<body>
    <div class="display-3">
        {% if user %}
            <p>You logged in as {{ user }</p>}
        {% endif %}

        <p>В прочтению предлагается {{ number }}
            {% if number == 1 %}
                пост
            {% elif 2 <= number <= 4 %}
                поста
            {% else %}
                постов
            {% endif %}
        </p>
    </div>
</body> 
</html>